body {
    background-color: #7F867B;
}

.title {
    color: #C7C7BB;
    text-align: center;
    font-family: sans-serif;
    font-size: 16vw;
    text-shadow: 1px 1px 2.5px #5c5c56;
    
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 150px;
    }
}

.list {
    display: flex;
    justify-content: space-evenly;
}



.item {
    width: 250px;
    height: auto;
    border-radius: 15px;
    
}

@media screen and (min-width: 1400px) {
    .item {
        width: 20vw;
        max-width: 350px;
        height: auto;
    }
}

.item:hover {
    opacity: .6;
    transition: all .55ms ease-in;
}

@media screen and (max-width: 800px) {
    .list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 65vw;
        height: auto;
        margin-bottom: 20px;
    }
}